:root {
	/* 定義全站的主色調 (RGB 數值) */
	--main-r: 242;
	--main-g: 227;
	--main-b: 216;
	--main-padR: 20px;
	--main-rgb: 242, 227, 216;
}

body.default{
	max-width: 1200px;
	font-size: clamp(16px, 4vw, 18px);
	font-family: courier , serif;
	line-height: 1.5;
	color: rgb(var(--main-rgb));
	background-color: #000;
	padding: 0 16px;
    margin: 40px auto;
}
		
body.default a {
	display: block;
	text-decoration: none;
	font-weight: bold;
	color: rgb(var(--main-rgb));
	/*color: #f2e3d8;*/
}1

body.default p,
body.default a {
    margin: 10px 0;

}
		
body.default a:hover {
	text-decoration: underline;
}
		
body.default p {
	text-align: justify;
}
			
body.default .c p{
	margin: 0;
	text-align: justify;
}

body.default .aR {
	font-size: 50px;
    text-align: right;
}

body.default .aR p {
    text-align: inherit;
}

.menu {
    position: fixed;
    top: 60px;
    right: 20px;

    display: flex;
    flex-direction: column;

    background: rgba(0,0,0,0.85);
    padding: 10px;
    border: 1px solid #f2e3d8;
}

/* hidden state */
.hidden {
    display: none;
}

.menu a {
    /*color: #f2e3d8;*/
	color: rgb(var(--main-rgb));
    text-decoration: none;
    margin: 5px 0;
}

.menu a:hover {
    text-decoration: underline;
}

.menu-btn {
    position: fixed;
    top: 20px;
    right: 20px;

    background: black;
    /*color: #f2e3d8;*/
	color: rgb(var(--main-rgb));
    border: 1px solid rgb(var(--main-rgb));
    padding: 5px 10px;
    cursor: pointer;
}

.line {
    display: flex;
	width: 100%;
	flex-wrap: wrap; /*allow jump line*/
    align-items: flex-end;
	overflow-wrap: break-word;
	word-break: break-all;
	justify-content: space-between;
}

.line a{margin: 0 !important;}


.left   { flex: 2; min-width: 0; text-align: left; }
.center { flex: 6; min-width: 0; text-align: center; }
.right  { flex: 2; min-width: 0; text-align: right; }

.align-lCR{
	flex: var(--flex, 1);
	min-width: 0;
	text-align: var(--align, left);
	
}

.c_rgba { /*color rgba*/
			/* 加上透明度，顏色會自動跟隨主色調 */
			color: rgba(
			var(--rgb , var(--main-rgb)),
			var(--a, 1)
			);
		}

@media (max-width: 600px) {
    .line {
		line-height: 1.2 !important;
        display: flex !important;
        flex-wrap: wrap !important;
    }

    /* 1. 真正的「第一行」：標題 */
    /* 假設它是 .line 的第一個子元素 */
    .line > *:nth-child(1) {
		font-size: clamp(18px, 4vw, 20px);
        flex: 0 0 100% !important;
        width: 100% !important;
        /*margin-bottom: 5px;*/
    }

    /* 2. 你的「說明」：現在它是第二行的左邊 */
    .left {
        flex: 1 1 auto !important; /* 讓它變回自動寬度 */
        width: auto !important;    /* 覆蓋掉 100% */
        min-width: 0 !important;
        text-align: left !important;
    }

    /* 3. 你的「日期」：第二行的右邊 */
    .right {
        flex: 0 0 auto !important;
        width: auto !important;
        white-space: nowrap !important;
        text-align: right !important;
        padding-left: 10px;
    }
}