:root {
	/* 定義全站的主色調 (RGB 數值) */
	--main-r: 242;
	--main-g: 227;
	--main-b: 216;
	--main-padR: 20px;
	--main-rgb: 242, 227, 216;
}

body.default{
	max-width: 1200px;
	font-size: clamp(16px, 4vw, 18px);
	font-family: courier , serif;
	line-height: 1.5;
	color: rgb(var(--main-rgb));
	background-color: #000;
	padding: 0 16px;
    margin: 40px auto;
}
		
body.default a {
	display: block;
	text-decoration: none;
	font-weight: bold;
	color: rgb(var(--main-rgb));
	/*color: #f2e3d8;*/
}1

body.default p,
body.default a {
    margin: 10px 0;

}
		
body.default a:hover {
	text-decoration: underline;
}
		
body.default p {
	text-align: justify;
}
			
body.default .c p{
	margin: 0;
	text-align: justify;
}

body.default .aR {
	font-size: 50px;
    text-align: right;
}

body.default .aR p {
    text-align: inherit;
}

.menu {
    position: fixed;
    top: 60px;
    right: 20px;

    display: flex;
    flex-direction: column;

    background: rgba(0,0,0,0.85);
    padding: 10px;
    border: 1px solid #f2e3d8;
}

/* hidden state */
.hidden {
    display: none;
}

.menu a {
    /*color: #f2e3d8;*/
	color: rgb(var(--main-rgb));
    text-decoration: none;
    margin: 5px 0;
}

.menu a:hover {
    text-decoration: underline;
}

.menu-btn {
    position: fixed;
    top: 20px;
    right: 20px;

    background: black;
    /*color: #f2e3d8;*/
	color: rgb(var(--main-rgb));
    border: 1px solid rgb(var(--main-rgb));
    padding: 5px 10px;
    cursor: pointer;
}

.line {
    display: flex;
	width: 100%;
    align-items: flex-end;
	overflow-wrap: break-word;
	word-break: break-all;
	justify-content: space-between;
}

.line a{margin: 0 !important;}


.left   { flex: 2; min-width: 0; text-align: left; }
.center { flex: 6; min-width: 0; text-align: center; }
.right  { flex: 2; min-width: 0; text-align: right; }

.align-lCR{
	flex: var(--flex, 1);
	min-width: 0;
	text-align: var(--align, left);
	
}

.c_rgba { /*color rgba*/
			/* 加上透明度，顏色會自動跟隨主色調 */
			color: rgba(
			var(--rgb , --main-rgb),
			var(--a, 1)
			);
		}
/*.left, .center, .right {
    margin: 0;   /* ⭐ remove vertical margin */
/*}*/

/*
@media (max-width: 600px) {
    body.default.line {
        flex-direction: column;
        align-items: stretch;
    }

    body.default.left,
    body.default.center,
    body.default.right {
        text-align: center;
        word-break: break-word;
    }
}

@media (max-width: 600px) {
     body.default.line {
        flex-direction: column;
        gap: 6px;
    }

     body.default.line > * {
        margin: 0;
        text-align: center;
    }
}
*/

@media (max-width: 600px) {
    .line {
        flex-direction: column;
    }

    .line > * {
        width: 100%;
        min-width: 0;
        word-break: break-word;
        overflow-wrap: anywhere;
		line-height: 0.2;
    }
}